{% extends 'base.html' %}
{% block title %}
    Tables
{% endblock title %}
{% block head %}
{% endblock head %}
{% block content %}
{% set tables = [
    {"name": "visits"},
    {"name": "relapses"},
    {"name": "treatments"},
    {"name": "MRI"},
    {"name": "patients"}
    ] %}
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {% for table in tables %}
                {% if loop.index == 1 %}
                    <a class="nav-link active" id="{{table.name}}-tab" data-toggle="pill" href="#{{ table.name }}" role="tab" aria-controls="{{ table.name }}" aria-selected="true">{{ table.name }}</a>
                {% else %}
                    <a class="nav-link" id="{{table.name}}-tab" data-toggle="pill" href="#{{ table.name }}" role="tab" aria-controls="{{ table.name }}" aria-selected="false">{{ table.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            {% for table in tables %}
                {% if loop.index == 1 %}
                    <div class="tab-pane fade show active" id="{{ table.name }}" role="tabpanel" aria-labelledby="{{ table.name }}-tab">
                        {{ table.name }}
                    </div>
                {% else %}
                    <div class="tab-pane fade" id="{{ table.name }}" role="tabpanel" aria-labelledby="{{ table.name }}-tab">
                        {{ table.name }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
